@import "tailwindcss";

@theme {
  --color-off-white: white;
  --color-off-black: #1c0305;
  --color-primary: #690d11;
  --color-secondary: #e3d5d6;
  --color-tertiary: #e2e9df;
}

body {
  @apply bg-off-white dark:bg-off-black text-off-black dark:text-off-white font-sans;
}
